A
{
    COLOR: navy
}
A:active
{
    COLOR: navy
}
A:link
{
    COLOR: navy
}
A:hover
{
    COLOR: blue;
    TEXT-DECORATION: underline
}

BODY
{
    FONT-SIZE: 10pt;
    MARGIN: 0px;
    COLOR: navy;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #0d2b88
}
LABEL
{
    FONT-SIZE: 8pt;
    COLOR: navy;
    FONT-FAMILY: Arial
}
TD
{
    FONT-SIZE: 10pt;
    FONT-FAMILY: Arial
}
TEXTAREA
{
    FONT-SIZE: 10pt;
    FONT-FAMILY: Arial
}

BUTTON BUTTON.small
{
    FONT-SIZE: 9pt
}
.orgchartcell
{
    FONT-SIZE: 8pt;
    COLOR: blue;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: none
}
.orgchartcell A
{
    FONT-SIZE: 8pt;
    COLOR: blue;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: none
}
.orgchartcell A:visited
{
    FONT-SIZE: 8pt;
    COLOR: blue;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: none
}
.orgchartkeycell
{
    FONT-SIZE: 8pt;
    COLOR: black;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: none
}
.orgchartkeycell A
{
    FONT-SIZE: 8pt;
    COLOR: black;
    FONT-FAMILY: Arial
}
.orgchartkeycell A:visited
{
    FONT-SIZE: 8pt;
    COLOR: black;
    FONT-FAMILY: Arial
}
.datacell
{
    FONT-SIZE: 8pt;
    COLOR: black;
    FONT-FAMILY: Arial
}
.datacellspecial
{
    FONT-SIZE: 8pt;
    COLOR: black;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #eee8aa
}
.headercell
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    COLOR: black;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: white
}
.headercellblue
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    COLOR: black;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #ccccdd
}
.rowlight
{
    BACKGROUND-COLOR: #eeeeff
}
.rowdark
{
    BACKGROUND-COLOR: #ddddee
}
.readonlytextbox
{
    COLOR: black;
    BACKGROUND-COLOR: #cccccc
}
.note
{
    FONT-SIZE: 8pt;
    COLOR: olive;
    FONT-FAMILY: Arial, 'Lucida Sans Unicode'
}
.notecell
{
    BORDER-RIGHT: brown thin solid;
    BORDER-TOP: brown thin solid;
    FONT-SIZE: 9pt;
    BORDER-LEFT: brown thin solid;
    COLOR: black;
    BORDER-BOTTOM: brown thin solid;
    BACKGROUND-COLOR: #eee8aa
}
.travelbody
{
    FONT-SIZE: 10pt;
    COLOR: black;
    FONT-FAMILY: Arial
}
.travelbody A
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    COLOR: navy;
    FONT-FAMILY: Arial
}
.question
{
    FONT-SIZE: 10pt;
    MARGIN-LEFT: 10pt;
    COLOR: navy;
    FONT-STYLE: italic
}
.small-link
{
    FONT-SIZE: 8pt;
    COLOR: navy;
    FONT-FAMILY: Arial, 'Sans Serif';
    TEXT-DECORATION: underline
}
.small-link A
{
    FONT-SIZE: 8pt;
    COLOR: navy;
    TEXT-DECORATION: underline
}
.small-link A:visited
{
    FONT-SIZE: 8pt;
    COLOR: navy;
    TEXT-DECORATION: underline
}
.small-link A:active
{
    FONT-SIZE: 8pt;
    COLOR: blue;
    TEXT-DECORATION: underline
}
.small-link A:hover
{
    FONT-SIZE: 8pt;
    COLOR: blue;
    TEXT-DECORATION: underline
}
.userphoto
{
    BORDER-RIGHT: silver 2px solid;
    BORDER-TOP: silver 2px solid;
    FONT-SIZE: 10pt;
    BORDER-LEFT: silver 2px solid;
    BORDER-BOTTOM: silver 2px solid
}
.description
{
    FONT-SIZE: 8pt;
    FONT-FAMILY: Arial
}
.disabledbox
{
    BACKGROUND-COLOR: silver
}
.fieldlabel
{
    FONT-SIZE: 8pt;
    COLOR: navy;
    FONT-FAMILY: Arial
}
.fieldlabel A:hover
{
    FONT-SIZE: 8pt;
    COLOR: blue;
    TEXT-DECORATION: underline
}
.fieldlabel A:visited
{
    FONT-SIZE: 8pt;
    COLOR: navy;
    TEXT-DECORATION: underline
}
.fieldlabel B
{
    FONT-WEIGHT: bold
}
.handwriting
{
    FONT-SIZE: 9.5pt;
    COLOR: black;
    FONT-STYLE: italic;
    FONT-FAMILY: 'Comic Sans MS', Arial
}
.typewriting
{
    FONT-SIZE: 9pt;
    COLOR: black;
    FONT-FAMILY: 'Courier New', Courier, 'Times New Roman'
}
.heading1
{
    FONT-SIZE: 14pt;
    COLOR: #000000;
    FONT-FAMILY: Impact, 'Arial Narrow', Arial, 'Sans Serif';
    LETTER-SPACING: 1pt
}
.heading2
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12pt;
    COLOR: navy;
    FONT-FAMILY: Arial, 'Sans Serif'
}
.heading3
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: navy;
    FONT-FAMILY: Arial, 'Sans Serif'
}
.bodytext
{
    FONT-SIZE: 10pt;
    COLOR: navy;
    FONT-FAMILY: Arial
}
.bodytext A
{
    FONT-SIZE: 10pt;
    COLOR: navy;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: underline
}
.bodytext A:active
{
    FONT-SIZE: 10pt;
    COLOR: blue;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: underline
}
.bodytext A:visited
{
    FONT-SIZE: 10pt;
    COLOR: navy;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: underline
}
.bodytext A:hover
{
    FONT-SIZE: 10pt;
    COLOR: blue;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: underline
}
.titlebarheading
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 14pt;
    COLOR: white;
    LINE-HEIGHT: normal;
    FONT-FAMILY: Arial,Helvetica,Sans Serif;
    TEXT-ALIGN: right
}
.titlebarsubheading
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: white;
    FONT-FAMILY: Arial, Helvetica, 'Sans Serif'
}
.datacell A
{
    COLOR: blue;
    TEXT-DECORATION: underline
}
.datacell A:visited
{
    TEXT-DECORATION: underline
}
.datacellspecial A
{
    COLOR: navy
}
.datacellspecial A:visited
{
    COLOR: navy
}
.tab
{
    COLOR: white;
    BACKGROUND-COLOR: #5a7694
}
.tabselected
{
    FONT-WEIGHT: bold;
    COLOR: navy;
    BACKGROUND-COLOR: #c0c0c0
}
.tab A
{
    COLOR: white;
    TEXT-DECORATION: none
}
.tabselected A
{
    FONT-WEIGHT: bold;
    COLOR: navy;
    TEXT-DECORATION: none
}
.boxheader
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: white;
    BACKGROUND-COLOR: #152d99
}
.updatestatus
{
    FONT-WEIGHT: bolder;
    COLOR: white;
    BACKGROUND-COLOR: green
}
.tab A:active
{
    COLOR: white;
    TEXT-DECORATION: none
}
.tab A:visited
{
    COLOR: white;
    TEXT-DECORATION: none
}
.tab A:hover
{
    COLOR: white;
    TEXT-DECORATION: underline
}
.tabselected A:active
{
    FONT-WEIGHT: bold;
    COLOR: navy;
    TEXT-DECORATION: none
}
.tabselected A:visited
{
    FONT-WEIGHT: bold;
    COLOR: navy;
    TEXT-DECORATION: none
}
.tabselected A:hover
{
    FONT-WEIGHT: bold;
    COLOR: navy;
    TEXT-DECORATION: underline
}
.description A
{
    TEXT-DECORATION: underline
}
.description A:link
{
    TEXT-DECORATION: underline
}
.description A:visited
{
    TEXT-DECORATION: underline
}
.description A:hover
{
    TEXT-DECORATION: underline
}
.fieldlabel A
{
    FONT-SIZE: 8pt;
    COLOR: navy;
    TEXT-DECORATION: underline
}
FIELDSET
{
    FONT-SIZE: 9pt;
    COLOR: black;
    FONT-FAMILY: Arial
}
LEGEND
{
    FONT-SIZE: 9pt;
    COLOR: black
}
.small-black
{
    FONT-SIZE: 8pt;
    COLOR: black;
    FONT-FAMILY: Arial, 'Sans Serif'
}
.historytextbox
{
    FONT-SIZE: 8pt;
    COLOR: black;
    FONT-FAMILY: Arial, 'Sans Serif';
    BACKGROUND-COLOR: silver
}
.contactname
{
    FONT-WEIGHT: bold;
    COLOR: black;
    BACKGROUND-COLOR: #ccccff;
    TEXT-DECORATION: none
}
.contactname A:hover
{
    FONT-WEIGHT: bold;
    COLOR: red;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: underline
}
.nomargins
{
    MARGIN: 0px
}
.contactname A:visited
{
    FONT-FAMILY: Arial
}
.contactname A:link
{
    FONT-WEIGHT: bold;
    COLOR: black;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: underline
}
.cardview
{
    FONT-SIZE: 8pt;
    COLOR: black;
    FONT-FAMILY: Arial, 'Sans Serif';
    BACKGROUND-COLOR: white
}
.cardviewspecial
{
    FONT-SIZE: 8pt;
    COLOR: black;
    FONT-FAMILY: Arial, 'Sans Serif';
    BACKGROUND-COLOR: #eee8aa
}
.pageleftheading
{
    PADDING-LEFT: 10px;
    FONT-SIZE: 14pt;
    COLOR: yellow;
    FONT-FAMILY: 'Arial Black', Arial, Helvetica, 'Sans Serif'
}
.pageleftbullet
{
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 5px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    MARGIN-LEFT: 5px;
    COLOR: yellow;
    LINE-HEIGHT: 10pt;
    MARGIN-RIGHT: 2px;
    FONT-FAMILY: Arial, Helvetica, 'Sans Serif';
    BACKGROUND-COLOR: transparent
}
.pageleftbullet A:active
{
    COLOR: white;
    TEXT-DECORATION: none
}
.pageleftbullet A:link
{
    COLOR: white;
    TEXT-DECORATION: none
}
.pageleftbullet A:visited
{
    COLOR: white;
    TEXT-DECORATION: none
}
.pageleftbullet A:hover
{
    COLOR: yellow;
    TEXT-DECORATION: underline
}
.pagetitlebar
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 22pt;
    COLOR: white;
    FONT-STYLE: italic;
    FONT-FAMILY: 'Times New Roman', Times, Serif
}
.titlebarheading2
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 30pt;
    COLOR: white;
    FONT-STYLE: italic;
    FONT-FAMILY: 'Times New Roman';
    TEXT-ALIGN: right
}
.pageleftbullet A
{
    COLOR: white;
    TEXT-DECORATION: none
}
.widgettitle
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #d5dcdc;
    FONT-FAMILY: Arial
}
.readonlytextboxsmall
{
    FONT-SIZE: 8pt;
    COLOR: black;
    FONT-FAMILY: Arial, 'Sans Serif';
    BACKGROUND-COLOR: #cccccc
}
.dialogheader
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: white;
    FONT-FAMILY: Arial, Helvetica, 'Sans Serif';
    TEXT-ALIGN: right
}
.heading4
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: navy;
    FONT-FAMILY: Arial, 'Sans Serif'
}
.fieldlabelrequired
{
    FONT-SIZE: 8pt;
    COLOR: #cc3333;
    FONT-FAMILY: Arial, Helvetica, Verdana
}
UL
{
    MARGIN-TOP: 0px;
    MARGIN-BOTTOM: 0px
}

.navbaritem
{
    FONT-SIZE: 8.5pt;
    COLOR: #ffffff;
    FONT-FAMILY: Arial, Helvetica, 'sans-serif';
    BACKGROUND-COLOR: #0d2b88;
    TEXT-DECORATION: none
}
.navbaritem a
{
    FONT-SIZE: 10pt;
    COLOR: white
}
.navbaritem a:visited
{
    FONT-SIZE: 10pt;
    COLOR: white
}
.navbaritem a:active
{
    FONT-SIZE: 10pt;
    COLOR: white
}
.navbaritem a:hover
{
    FONT-SIZE: 10pt;
    COLOR: yellow
}
a.navlink
{
    FONT-SIZE: 8.5pt;
    COLOR: white;
    TEXT-DECORATION: none
}
a.navlink:visited
{
    FONT-SIZE: 8.5pt;
    COLOR: white;
    TEXT-DECORATION: none
}
a.navlink:active
{
    FONT-SIZE: 8.5pt;
    COLOR: white;
    TEXT-DECORATION: none
}
a.navlink:hover
{
    FONT-SIZE: 8.5pt;
    COLOR: white;
    TEXT-DECORATION: none
}
.otdisabled
{
    COLOR: gray
}
